$primary-1: #ffd400;
$secondary-1: #000000;
$secondary-2: #333333;
$secondary-3: #999999;
$complement-1: #17233d;
$complement-2: #f7f7f7;
$complement-3: #ffffff;
$custom-color-1: #0e0e0e;
$fluid-pad-mar: clamp(1rem, 8vw, 2rem);
$laptop: 768px;
